.homeWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  margin-inline-end: 80px;
  gap: 40px;
}

.copyWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  max-width: 50%;
}

.title {
  font-size: 82px;
  font-weight: 700;
  color: var(--accent-green);
}

.tagline {
  font-size: 56px;
  font-weight: 600;
}

.getStartedBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 999px;
  background-color: var(--accent-green);
  padding: 8px 16px;
  color: var(--bg-dark);
  box-shadow: var(--shadow-glow);
}
