.homeWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  margin-inline-end: 80px;
}

.copyWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  max-width: 50%;
}

.title {
  font-size: 72px;
  font-weight: 700;
  color: var(--accent-green);
}

.tagline {
  font-size: 56px;
  font-weight: 600;
}
