.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  padding: 16px 24px;

  @media (max-width: 1023px) {
    display: none;
  }
}

.navWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.bannerLinks {
  margin-right: 24px;
}

.navLink {
  padding: 4px;

  &:hover {
    cursor: pointer;
  }
}

.connectBtn {
  margin-left: auto;
}
